{%extends 'base.html.twig' %}

{% block titrePage %}
<h1>Stage {{idRessource}} </h1>
{% endblock %}

{% block contenuPage %}
<p>
<h2>Titre du stage</h2>
Nom: Nom1 <br/>
Activité: activité1 <br/>
Adresse de l'entreprise: adresse1 <br/>
Description: description <br/>
Formation(s): formation1 <br/>
Email: email@gmail.com
</p>
{% endblock %}