<h1>Bienvenue sur prostage !</h1>

<p>
Vous trouverez ci-dessous les dernieres propositions de stage ajoutées sur prostage.
</p>

<ul>
	<li>
		<a href="{{path('prostage_stages',{id:1})}}">Stage1</a>
	</li>
	<li>
		<a href="{{path('prostage_stages',{id:2})}}">Stage2</a>
	</li>
	<li>
		<a href="{{path('prostage_stages',{id:3})}}">Stage3</a>
	</li>
</ul>