<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostage{% endblock %}</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
		
		<!-- BLOC DE FEUILLE DE STYLE -->
		{% block stylesheets %}
		<link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
		{% endblock %}
    </head>
    <body>
	
		<!-- BLOC DU SLIDER -->
        {% block slider %}
		<h1>------------------SLIDER-----------------</h1>
		{% endblock %}
		
		<!-- BLOC DU MENU -->
		{% block menu %}
		<h1>------------------MENU-----------------</h1>
		{% endblock %}
		
		<!-- BLOC DU CONTENU -->
		{% block contenu %}
		{% endblock %}
		
		<!-- BLOC DU FOOTER -->
		{% block footer %}
		<h1>------------------FOOTER-----------------</h1>
		{% endblock %}
		
		<!-- BLOC JAVA SCRIPT -->
        {% block javascripts %}
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="{{asset('/js/bootstrap.min.js')}}"></script>
		{% endblock %}
    </body>
</html>
